normalize-css()

.challenge
    background #FFF 
    padding 0 20px 20px
    margin-bottom 20px
    position relative 
    z-index 1
    shadow-level(1)
    trans()
    .remove-from-menu, .add-to-menu
        display block
    &.in-menu
        background teal
        color #FFF
        h3
            border-bottom: rgba(255,255,255, 0.6) solid 3px
    h3
        font-size: 3em;
        opacity: 0.3;
        border-bottom: rgba(0,0,0, 0.3) solid 3px
        margin-top 0
        margin-bottom 10px 
    button
        margin-top 20px 
    .fa-trash
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 0
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color red 
            opacity 0.6
    .fa-trash1
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 0
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color red 
            opacity 0.6
    .fa-pencil
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 40px
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color purp 
            opacity 0.6
    .fa-pencil1
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 40px
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color purp 
            opacity 0.6
    .ingredient
        display inline-block
        margin-right 10px 
        font-size 1.2em 
    &:hover 
        shadow-level(3)
        // animation card 0.6s ease 1 forwards

.new-challenge
    margin-bottom 20px 

.new-challenge-container
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 






.challenge1
    background #FFF 
    padding 0 20px 20px
    margin-bottom 20px
    position relative 
    z-index 1
    shadow-level(1)
    trans()
    .remove-from-menu, .add-to-menu
        display block
    &.in-menu
        background teal
        color #FFF
        h3
            border-bottom: rgba(255,255,255, 0.6) solid 3px
    h3
        font-size: 3em;
        opacity: 0.3;
        border-bottom: rgba(0,0,0, 0.3) solid 3px
        margin-top 0
        margin-bottom 10px 
    button
        margin-top 20px 
    .fa-trash
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 0
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color red 
            opacity 0.6
    .fa-trash1
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 0
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color red 
            opacity 0.6
    .fa-pencil
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 40px
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color purp 
            opacity 0.6
    .fa-pencil1
        opacity 0.3
        cursor pointer
        position absolute
        top 0
        right 40px
        font-size 1.6em  
        display block
        padding 20px 
        color black
        trans()
        &:hover
            color purp 
            opacity 0.6
    .ingredient
        display inline-block
        margin-right 10px 
        font-size 1.2em 
    &:hover 
        shadow-level(3)
        // animation card 0.6s ease 1 forwards

.new-challenge1
    margin-bottom 20px 

.new-challenge-hunter
    margin-bottom 20px 

.new-challenge-voting
    margin-bottom 20px 

.new-challenge-container1
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close1
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 

.new-challenge-container2
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close1
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 

.new-challenge-container3
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close1
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 

.new-challenge-container4
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close1
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 

.new-challenge-container5
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close1
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 
        
.new-challenge-container6
    position relative
    
    padding 20px 
    margin-bottom 20px 
    shadow-level(2) 
    .fa-close1
        position absolute
        color black
        top 0
        right 0
        padding 20px   
    label
        display block
        margin-bottom 10px 
    textarea, input
        width 100% 